/* @import url('https://fonts.googleapis.com/css2?family=Roboto');
html body {
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-size: 25px;
} */
#brand {
  color: rgba(236, 226, 226, 0.884) !important;
}
.navbar li a {
  color: rgba(236, 226, 226, 0.884) !important;
}
.navbar li a:hover {
  color: white !important;
}
.masthead{
  height: 100%;
  /* background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg"); */
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg");;
  min-height: 700px;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
#btn {
  background-color: #f4623a;
  color: aliceblue;
  /* border-radius: 20%; */
}
#btn:hover {
  background-color: rgb(214, 59, 42);
}
hr {
  border-color: #f4623a;
}